@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
}
/* Banner related styles */
.banner-container{
    position: relative;
    text-align: center;
    color: white;
    padding: 100px auto;
    width: 1320px;
    height: 600px;
}
.banner-img{
    display: flex;
    align-tems: center;
    opacity: 5;
    margin-left: 200px;
}
.banner-text1{
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10ox 30px;
}
.banner-text2{
    width: 630px;
    color: white;
    font-size: 70px;
    font-weight: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Happy new year related style */
.Happy-New-Year{
    width: 1600px;
    padding: 120px;
}
.text-3{
    color: #f00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
    padding: 0 250px 50px 0px;
    margin-bottom: 5px;
}
.text-4{
    color: #f00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding: 0 250px 50px 0px;
    margin-bottom: 0;
}
.text-5{
    color: black;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    padding: 0 250px 50px 0px;
}
.happy-new-year-image{
    width: 800px;
    height: 500px;
    align-items: center;
    margin-left: 250px;
}
/* Another Banner related */
.another-banner-container{
    width: 1320px;
    padding: 120px;
}
.section-02{
    display: flex;
}
.section-02-img{
    display: flex;
    align-tems: center;
    opacity: 2.5;
    margin-left: 200px;
    position: absolute;
}
.text-6{
    position: relative;
    width: 100%;
    color: white;
    font-size: 60px;
    font-weight: 900;
    margin-left: 350px;
    margin-top: 126px;
}
.text-7{
    position: relative;
    width: 100%;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    margin-left: 350px;
    margin-top: 24px;
}
.button{
    position: relative;
    color: blueviolet;
    font-size: 20px;
    font-weight: 700;
    margin-left: 400px;
    margin-top: 50px;
    opacity: 100;
}
.another-image{
    position: relative;
    margin-left: 1100px;
    margin-right: 16px;
    margin-top: -350px;
    margin-bottom: 68px;
}
/* Place & time related */
.section-AA{
    display: flex;
    position: ;
    margin-bottom: 1000px;
    width: 100%;
    height: 100%;
    background-color: #ff0000, #ff000000;
}
.section-AA-text{
    position: relative;
    
    font-size: 32px;
    font-weight: 600px;
    margin-left: 0;
}
.vic-img{
    position: absolute;
    margin-left: 200px;
    margin-right: 16px;
    margin-top: 350px;
    margin-bottom: 68px;
    align-items: center;
}
.text-8{
    position: relative;
    font-size: 32px;
    font-weight: 600;
    padding: 100px 386px 215px 385px;
    background-color: #FF0000, #FF000000;
    margin-top: 500px;
    margin-left: 250px;
    justify-content: center;
}
.text-para{
    position: relative;
    font-size: 32px;
    font-weight: 600;
    margin-top: 500px;
    margin-bottom: 1500px;
    margin-left: 300px;
    padding: 100px 385px 215px 385px;
}
.button-2{
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    position: relative;
    color:white;
    font-size: 20px;
    font-weight: 700;
    padding: 25px 32px;
    background-color: #f00;
    margin-top: 50px;
    margin-bottom: 10000px;
}
/* Coming soon related */
.Coming-soon{
    margin: 3000px 535px 3050px 600ox;
    position: absolute;
}
.CS-Text-1{
    color: #ff0000;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    margin-top: 3300px;
    margin-left: 200px;
}
.CS-text-2{
    color: #070211;
    font-size: 40px;
    font-weight: 900;
    position: relative;
    margin-left: 200px;
}
.CS-text-3{
    color: rgba(7, 2, 17, 1);
    font-size: 20px;
    font-weight: 400;
    margin-left: 200px;
    position: absolute;
    /* justify-content: space-around; */
}
.CS-Image{
    width: 50%;
    height: 50%;
    border-radius: 7000px;
    border: 15px solid #ff0000;
    display: flex;
    margin-left: 600px;
    margin-top: -220px;
    justify-content: space-between;
    position: relative;
}
.CS-text-4{
    color: #ff0000;
    font-size: 48px;
    font-weight: 700;
    margin-left: 1500px;
    margin-top: -600px;
}
.CS-text-5{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    margin-left: 1500px;
}
.CS-image-1{
    margin-left: 1500px;
    margin-top: 43px;
    position: absolute;
    display: block;
}
/* holidays-teleted-section */
.holidays-teleted-section{
    margin-top: 4400px;
    margin-left: -1700px;
    display: flex;
    position: relative;
    display: block;
}
.HS-text1{
    text-align: center;
    color: #070211;
    font-size: 24px;
    font-weight: 500;
}
.HS-text-2{
    text-align: center;
    color: #070211;
    font-size: 70px;
    font-weight: 900;
}
.HS-text-3{
    text-align: center;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
}
.HS-img-1{
    margin-left: -100px;
    margin-bottom: -200px;
   
    
}
.HS-img-2{
    width: 86%;
    height: 80%;
    visibility: visible;
    
  
}
.HS-img-3{
    margin-left: 700px;
    margin-top: -2000px;
    margin-bottom: 150px;
    
}
.HS-img-4{
    margin-left: 550px;
    margin-top: -2000px;
    margin-bottom: 250px;
    
}